@page
@model MediscreenWebUI.Pages.Notes.PatientNotesModel
@{
    ViewData["Title"] = "Patient Notes List";
}

<a asp-page="./Create" asp-route-id="@Model.Patient.Id" class="btn btn-success">New Note</a>
<br />

<h1>Patient Notes List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Practitioner's note/recommendations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model.Notes)
        {
            <tr>
                <td>@Model.Patient.FirstName @Model.Patient.LastName</td>
                <td style="white-space: pre;">@note.NoteContent</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@note.Id" class="btn btn-primary">Edit Note</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group">
    <a asp-page="../Patients/Index" class="btn btn-dark">Back to list</a>
</div>