@page
@model MediscreenUI.Pages.Patients.IndexModel
@{
    ViewData["Title"] = "Patients List";
}

<h1>Patients List</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Sex</th>
            <th>Home Address</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>@patient.FirstName</td>
                <td>@patient.LastName</td>
                <td>@patient.DateOfBirth.ToShortDateString()</td>
                <td>@patient.Sex</td>
                <td>@patient.HomeAddress</td>
                <td>@patient.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
